h1 {
    text-align: center;
    margin-top: 0px;
}

#SubTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap: 0.5%
}

#introduction0 {
    font-size: 125%;
}

#openIntroPopup {
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

#openIntroPopup:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#status {
    margin-left: 1%;
    border: 1px solid black;
    background-color: #015901;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    text-align: center;
}

#timer {
    margin-right: 1.7%;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid black;
    background-color: #6c0703;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    float: right;
    text-align: center;
    width: 80px;
}

#status:hover {
    opacity: 0.6;
}

.container {
    margin: 0.3%;
}

.firstColumn {
    float: left;
    width: 23%;
}

#player-numbers {
    font-size: 40px;
    color: red;
    margin: 0px;
    max-height: 100px;
    overflow-y: auto;
}

#currentnumber {
    text-align: center;
    background-color: #e3e0e0;
    padding: 10px;
    margin: 3%;
    border: 1px solid black;
    border-radius: 5px;
}

#buy {
    text-align: center;
    background-color: #e3e0e0;
    margin: 3%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#buyNumberButton {
    width: 55%;
}

#typeAnswer {
    text-align: center;
    background-color: #e3e0e0;
    padding: 10px;
    margin: 3%;
    border: 1px solid black;
    border-radius: 5px;
}

#introContent {
    margin: 5%;
}

.tool {
    background-color: antiquewhite;
    float: left;
    margin-left: 0px;
    width: 40.5%;
    height: 500px;
    margin: 0.5%;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
}

/* Style the tab */
.nav {
    overflow: hidden;
    background-color: #015901;
    height: auto;
}
  
/* Style the buttons that are used to open the tab content */
.nav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    color: #f0f0f0;
    width: 33.33333333333%;
    font-size: 120%;
}
  
/* Change background color of buttons on hover */
.nav button:hover {
    opacity: 0.6;
}

.slide {
    padding-left: 50px;
    padding-right: 50px;
}

#introContent {
    text-align: center;
    font-size: 30px;
    margin-top: 170px;
}

.searchBox {
    float: left;
    background-color: #000000;
    text-align: center;
    color: #f0f0f0;
    width: 33.35%;
    height: 500px;
    margin: 0.5%;
    border: 1px solid black;
    border-radius: 5px;
    overflow-y: auto;
}

.actionButton {
    border: none;
    background-color: #6c0703;
    color: #ffffff;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.actionButton:hover {
    opacity: 0.6;
}

#allScreen {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 1;
    transition: opacity 2s linear;
}

#intro-popup {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 5.5%;
    margin-left: 10%;
    width: 70%;
    height: 52%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5%;
    overflow: auto;
}

#introduction1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 125%;
    overflow: visible;
}

#introduction2 {
    text-align: left;
    margin: 0px;
    font-size: 125%;
    overflow: visible;
}


#result-popup {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 11%;
    margin-left: 26%;
    width: 34%;
    height: 22%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 7%;
    overflow: auto;
}

#closeIntroPopup {
    border: none;
    color: #ffffff;
    padding: 3px;
    width: 30px;
    background-color: #6c0703;
    border-radius: 5px;
}

#closeIntroPopup:hover {
    opacity: 0.6;
}

#closePopup {
    border: none;
    color: #ffffff;
    padding: 3px;
    width: 90px;
    border-radius: 5px;
}

#closePopup:hover {
    opacity: 0.6;
}

.toolIntro {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background: none;
    border-radius: 5px;
}

.toolIntro:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.toolIntroContent {
    margin-top: 0;
    margin-bottom: 0;
}