h1 {
    text-align: center;
    margin-top: 0px;
}

#sub-title-merge {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap: 0.5%
}

#introduction0 {
    font-size: 125%;
}

#open-intro-popup {
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

#open-intro-popup:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#open-timer-intro-popup {
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

#open-timer-intro-popup:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#status {
    margin-left: 1%;
    border: 1px solid black;
    background-color: #015901;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    text-align: center;
}

#timer {
    margin-right: 1.7%;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid black;
    background-color: #6c0703;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    float: right;
    text-align: center;
    width: 80px;
}

#status:hover {
    opacity: 0.6;
}

.container {
    margin: 0.3%;
}

.first-column {
    float: left;
    width: 23%;
}

#player-numbers {
    font-size: 40px;
    color: red;
    margin: 0px;
    max-height: 100px;
    overflow-y: auto;
}

#current-number {
    text-align: center;
    background-color: #e3e0e0;
    padding: 10px;
    margin: 3%;
    border: 1px solid black;
    border-radius: 5px;
}

#current-number-title-merge {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap: 2%
}

#buy {
    text-align: center;
    background-color: #e3e0e0;
    margin: 3%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#buy-number-button {
    width: 55%;
}

#type-answer {
    text-align: center;
    background-color: #e3e0e0;
    padding: 10px;
    margin: 3%;
    border: 1px solid black;
    border-radius: 5px;
}

#intro-content {
    margin: 5%;
}

.tool {
    background-color: antiquewhite;
    float: left;
    margin-left: 0px;
    width: 40.5%;
    height: 500px;
    margin: 0.5%;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
}

/* Style the tab */
.nav {
    overflow: hidden;
    background-color: #015901;
    height: auto;
}
  
/* Style the buttons that are used to open the tab content */
.nav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    color: #f0f0f0;
    width: 33.33333333333%;
    font-size: 120%;
}
  
/* Change background color of buttons on hover */
.nav button:hover {
    opacity: 0.6;
}

.slide {
    padding-left: 50px;
    padding-right: 50px;
}

#intro-content {
    text-align: center;
    font-size: 30px;
    margin-top: 170px;
}

.search-box {
    float: left;
    background-color: #000000;
    text-align: center;
    color: #f0f0f0;
    width: 33.35%;
    height: 500px;
    margin: 0.5%;
    border: 1px solid black;
    border-radius: 5px;
    overflow-y: auto;
}

#search-log {
    font-size: 15px;
}

.action-button {
    border: none;
    background-color: #6c0703;
    color: #ffffff;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 5px;
}

.action-button:hover {
    opacity: 0.6;
}

#all-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 1;
    transition: opacity 2s linear;
}

#intro-popup {
    display: none;
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    width: 70%;
    height: 55%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5%;
}

#intro-popup-content {
    text-align: center;
    overflow: auto;
    height: 100%;
}

#tutorial-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 30px;
}

.container-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap: 2%;
    font-size: 125%;
    margin-bottom: 100px;
}

#player-numbers-tutorial {
    font-size: 40px;
    color: red;
    margin: 0px;
    max-height: 100px;
    overflow-y: auto;
}

.first-column-tutorial {
    width: 23%;
}

#infer-icon {
    font-size: 30px;
}

.second-column-tutorial {
    text-align: center;
    background-color: #e3e0e0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.container-tutorial-for-tool {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap: 2%;
    font-size: 125%;
}

.first-column-tutorial-tool {
    background-color: #015901;
    padding: 10px;
    border-radius: 5px;
    color: #f0f0f0;
}

.second-column-tutorial-tool {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
}

.third-column-tutorial-tool {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #000000;
    color: #f0f0f0;
}

#input-box-tutorial {
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

#success-tutorial {
    color: lime;
    font-size: 125%;
}

.second-column-tutorial-submit {
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#timer-tutorial {
    margin-right: 1.7%;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid black;
    background-color: #6c0703;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 80px;
}

#price-tutorial {
    background-color: #015901;
    padding: 10px;
    border-radius: 5px;
    color: #f0f0f0;
}

#timer-intro-popup {
    display: none;
    position: absolute;
    margin-top: 5.5%;
    margin-left: 10%;
    width: 70%;
    height: 53%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5%;
    overflow: auto;
}

#timer-intro-popup-content {
    text-align: center;
}

.timer-container-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap: 2%;
    font-size: 125%;
}

.first-column-tutorial-timer {
    width: 20%;
}

.second-column-tutorial-timer {
    text-align: center;
    background-color: #e3e0e0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#result-popup {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 11%;
    margin-left: 26%;
    width: 34%;
    height: 22%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 7%;
    overflow: auto;
}

#close-intro-popup {
    border: none;
    color: #ffffff;
    padding: 3px;
    width: 30px;
    background-color: #6c0703;
    border-radius: 5px;
    margin-top: 20px;
    position: fixed;
}

#close-intro-popup:hover {
    opacity: 0.6;
}

#close-popup {
    border: none;
    color: #ffffff;
    padding: 3px;
    width: 90px;
    border-radius: 5px;
}

#close-popup:hover {
    opacity: 0.6;
}

#close-timer-intro-popup {
    border: none;
    color: #ffffff;
    padding: 3px;
    width: 30px;
    background-color: #6c0703;
    border-radius: 5px;
    margin-top: 20px;
    position: fixed;
}

#close-timer-intro-popup:hover {
    opacity: 0.6;
}

.tool-intro {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background: none;
    border-radius: 5px;
}

.tool-intro:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tool-intro-content {
    margin-top: 0;
    margin-bottom: 0;
}
